---
const { title } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} | Iyas Bagus</title>
    </head>
    <body>
        <h1 style="background-color: tomato;">{title}</h1>
        <slot>
            <!-- ini adalah isi konten dari luar -->
        </slot>
    </body>
</html>
